<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/imgs/cmronline.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-header>
  <ion-navbar>    
    <button ion-button menuToggle="left" side="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">Fil Infos</ion-title>     
    <ion-buttons end ion-button >
        <button ion-button icon-only menuToggle="right"  side="right" >
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <div>
      <ion-segment [(ngModel)]="pet">        
        <ion-segment-button value="filinfos">
          A LA UNE
        </ion-segment-button>
        <ion-segment-button value="semaine">
            FIL INFO
          </ion-segment-button>
      </ion-segment>
    </div>
</ion-header>
<ion-content padding class="card-background-page">
  <div [ngSwitch]="pet">  
    <ion-list *ngSwitchCase="'filinfos'">
        <ion-card *ngFor="let user of users7jrs">
            <img src="{{user.node.Imagedescriptives}}" (click)="article(user)"/>
            <div class="card-title" (click)="article(user)"> {{user.node.title}}</div>
            <div class="card-subtitle" (click)="article(user)">{{user.node.rubrique}}</div>
            <div style="margin-top:25%;">
            <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small full color="primary" (click)="shareSheetShare()">
                    <ion-icon name="share"></ion-icon>
                       PARTAGER
                </button>
                </ion-col>
                <ion-col center text-center>
                    <button ion-button icon-start clear small>                       
                        <div>{{user.node.Total}} Vues</div>
                      </button>                
                </ion-col>
              </ion-row>
            </div>
          </ion-card>     
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>    
    <ion-list *ngSwitchCase="'semaine'">
      <ion-card *ngFor="let user of users" >
          <img src="{{user.node.Imagedescriptives}}" (click)="article(user)"/>
          
          <div class="card-title" (click)="article(user)"> {{user.node.title}}</div>
          <div class="card-subtitle" (click)="article(user)">{{user.node.rubrique}}</div>
          <br>
          <ion-row>
              <ion-col>
                <button ion-button icon-start clear small full color="primary" (click)="shareSheetShare()">
                    <ion-icon name="share"></ion-icon>
                       PARTAGER
                </button>                
              </ion-col>              
              <ion-col center text-center>
                  <button ion-button icon-start clear small>                     
                      <div>{{user.node.Total}} Vues</div>
                    </button>              
              </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
  </div>
</ion-content>