<ion-menu  [content]="content" side="left" id="menu1">
  <ion-header  style="background-color: #000; " >
    <ion-toolbar>
      <div>
        <img src="assets/imgs/cmronline.png" alt="" >
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose="menu1" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-menu  [content]="content"  side="right" id="menu2">
    <div  style="background-color: #000000; margin:0; padding:0; color:  #000000; font-size:20px;">
    <ion-header  style="background-color: #000000;">
    <ion-toolbar style="background-color: #000000;">
      
       PARAMETRE
     
    </ion-toolbar>
  </ion-header>
</div>
  <ion-content>
    <ion-list>
      <button menuClose="menu2" ion-item *ngFor="let p of pages2" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>








